@model MaintenanceTracker.Models.VehicleModel

<tr>
    <td>@Html.Encode(Model.Make)</td>
    <td>@Html.Encode(Model.Model)</td>
    <td>@Html.Encode(Model.Year)</td>
    <td> @if(String.IsNullOrWhiteSpace(Model.Registration))
         {
             @:N/A
         }
         else
         {
             @Html.Encode(Model.Registration)
         }
    </td>
    <td>@Html.ActionLink("Edit", "Index", "Job", new { id = Model.Id }, null)</td>
</tr>

