@model MaintenanceTracker.Models.Vehicle

<tr>
    <td>@Html.DisplayFor(m => m.Make)</td>
    <td>@Html.DisplayFor(m => m.Model)</td>
    <td>@Html.DisplayFor(m => m.Year)</td>
    <td> @if(String.IsNullOrWhiteSpace(Model.Registration))
         {
             @:N/A
         }
         else
         {
             @Html.DisplayFor(m => m.Registration)
         }
    </td>
    <td>@Html.ActionLink("Edit", "Index", "Job", new { id = Model.ID }, null)</td>
</tr>

