@model LoginViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="well col-md-6 col-md-offset-3">
        <p class="lead">
            Login
        </p>
        @using (Html.BeginForm("Index", "User", FormMethod.Post))
        {
            <div class="form-group row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Username)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(m => m.Username)
                </div>
            </div>
            <div class="row">
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(m => m.Password)
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.RememberMe)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(m => m.RememberMe, new { htmlattributes = new { data_toggle = "checkbox-x", data_three_state = "false" }})
                </div>
            </div>
            <div class="row col-md-offset-3 col-md-6">
                <button type="submit" class="btn btn-success btn-block">
                    Login
                </button>
            </div>
            <div class="row col-md-offset-3 col-md-6 ">
                @Html.ActionLink("Forgot Password", "Forgot", "User", new { @class = "btn btn-default btn-block" })
            </div>
        }
    </div>
</div>