@model RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="well col-md-6 col-md-offset-3">
        <p class="lead">
            Register
        </p>
        @using (Html.BeginForm("Register", "User", FormMethod.Post))
        {
            <div class="row">
                @if (ViewData.ModelState.ContainsKey("Error"))
                {
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        @Html.ValidationMessage("Error")
                    </div>
                }
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Username)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-3">
                    @Html.LabelFor(m => m.Email)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <button type="submit" class="btn btn-success btn-block">
                        Register
                    </button>
                </div>
            </div>
        }
    </div>
</div>
