@model MaintenanceTracker.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{

    <fieldset>
        <legend>Login Form</legend>
        <ul>
            <li>
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
        </ul>
        <input type="submit" value="Log in"/>
        <p>
            @Html.ActionLink("Click here if you don't have an account", "Register", "Account")
        </p>
    </fieldset>
}


